.home-container {
  text-align: center;
  margin-top: 50px;
  max-height: 380px;
  }
  
  .home-container h1 {
  font-weight: bold;
  font-size: 44px;
  font-family: Georgia, serif;
  color: #ffffff;
  }
  
  .home-container p {
  font-size: 34px;
  color: #ffffff;
  font-family: Georgia, serif;
  font-weight: bold;
  margin-bottom: 300px;
  }
  
  .home-containerImage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  }
  img{
  background-repeat: no-repeat;
  height: 100px;
  }