  /* TaskTableRow.css */

/* Styling für die Zeilen der Tabelle */
tr {
    text-align: center;
}

/* Styling für die Zellen der Tabelle */
td {
    padding: 0.5rem;
}

/* Hintergrundfarbe für die Zellen mit geradem Index */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Styling für die Edit- und Delete-Buttons */
.btn {
    cursor: pointer;
    margin: 0.2rem;
    padding: 0.3rem 0.6rem;
    font-size: 0.8rem;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #ffffff;
}
.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #ffffff;
}

.Table-Rows{
    justify-content: right;
    
}


  /* TaskTable.css */
/* Styling für die Kopfzeile der Tabelle */
th {
    font-weight: bold;
    text-align: center;
}

/* Styling für die Zeilen der Tabelle */
tr {
    text-align: center;
}

/* Hintergrundfarbe für die Header-Zellen */
.bg-primary {
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgb(134, 1, 1) 100%);
/*
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(229,105,105,1) 100%);
*/
}

/* Textfarbe für den Header */
.text-white {
    color: #0c0c0c;
}

/* Hintergrundfarbe für Zellen mit geradem und ungeradem Index */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff; /* Hintergrundfarbe für ungerade Zeilen */
}

.table-container {
    display: flex;
    justify-content: center;
  }
  
  .table {
    width: 100%; /* Breite der Tabelle anpassen */

  }
  
  .table-header {
    text-align: center;
  }
  
  .table-row {
    text-align: center;
  }

  