.App {
  
  text-align: center;
  background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 19%, rgba(0,212,255,1) 46%, rgba(62,62,88,1) 78%);
background-size: cover;


text-align: center;
background: repeating-linear-gradient(45deg, #000 0 1em, #111 0 2em);
background-size: cover;
margin: 0;
height: auto;
font: 900 .75em ubuntu, sans-serif;
display: grid;
grid-gap: 3em;
padding-bottom: 0%; 


}
.Bodie-Todo{
  /*
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 19%, rgba(0,212,255,1) 46%, rgba(62,62,88,1) 78%);
*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Bodie-Todo {
padding-left: 1%;
padding-right: 1%;
padding-bottom: 17%;

}

/* Footer.css */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  
}
.LogoImage{
  display: block;
  width: 4%;
  height: 4%;
  margin-bottom: 0px;
  margin-top: -15px;
}



