.module-section {
    padding: 0;
    margin: 0;
    min-width: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
    /* Position relative, um Mario korrekt zu positionieren */
}

.module-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin: 0.5%;
    color: #fff;
}

.module-title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    width: 100%;
}

.module-day {
    font-weight: bold;
    margin-bottom: 10px;
    min-width: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
    /* Position relative, um Mario korrekt zu positionieren */
}


.mario-placeholder {
    height: 60px;
    /* Gleiche Höhe wie der Mario-Bereich */
    width: 100%;
    /* Gleiche Breite wie der Mario-Bereich */
}

.module-list {
    margin-right: 10px;
    margin-left: 0.1%;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 0;
}

.module-block {
    min-width: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}





.ButtonsContainer {
    margin-top: 20px;
}

button {
    margin-right: 10px;
}